:root {
  --scale: 1;
  --margin-left: 0;
  --margin-top: 0;
  --circle-size: 90px;
  --piece-width: 74px;
  --piece-height: 105px;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.board-container {
  position: relative;
}

.board {
  background-image: url(/img/mapa.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 100vw;
  height: 100vh;
}

.circle {
  position: absolute;
  width: var(--circle-size);
  height: var(--circle-size);
}

.circle::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  left: calc(var(--circle-size) * -0.5);
  top: calc(var(--circle-size) * -0.5);
  background-color: rgba(255, 0, 0, 1);
  border-radius: 100%;
}

.piece {
  position: absolute;
  width: var(--piece-width);
  height: var(--piece-height);
  z-index: 1;
  transition: 0.5s ease-out;
}

.notransition {
  transition: none !important;
}

.red {
  background-image: url("img/game-player-piece-red.svg");
}

.green {
  background-image: url("img/game-player-piece-green.svg");
}
.blue {
  background-image: url("img/game-player-piece-blue.svg");
}
.yellow {
  background-image: url("img/game-player-piece-yellow.svg");
}

.piece.active {
  animation: glow 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    filter: drop-shadow(2px 2px 4px white) drop-shadow(-2px -2px 4px white);
  }
  to {
    filter: drop-shadow(2px 2px 4px black) drop-shadow(-2px -2px 4px black);
  }
}

/* DICE */
.dice {
  position: absolute;
  top: calc(var(--margin-top) + 250px * var(--scale));
  left: calc(var(--margin-left) + 1800px * var(--scale));
  width: calc(120px * var(--scale));
  height: calc(120px * var(--scale));
  background-size: cover;
  background-repeat: no-repeat;
}

.dice-1 {
  background-image: url("img/dice-1.png");
}

.dice-2 {
  background-image: url("img/dice-2.png");
}

.dice-3 {
  background-image: url("img/dice-3.png");
}

.dice-4 {
  background-image: url("img/dice-4.png");
}

.dice-5 {
  background-image: url("img/dice-5.png");
}

.dice-6 {
  background-image: url("img/dice-6.png");
}

.info,
.players-list {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.6);
  padding: 5px;
  border-radius: calc(15px * var(--scale));
}

.info {
  left: calc(var(--margin-left) + 1280px * var(--scale));
  top: calc(var(--margin-top) + 20px * var(--scale));
  width: calc(650px * var(--scale));
  height: calc(170px * var(--scale));
  font-size: calc(26pt * var(--scale));
}

.players-list {
  left: calc(var(--margin-left) + 30px * var(--scale));
  bottom: calc(var(--margin-top) + 30px * var(--scale));
  list-style-type: none;
  font-size: calc(36pt * var(--scale));
  margin: 0px;
  padding: 3px;
}

.players-list li.active {
  background-color: rgba(208, 208, 208, 0.6);
  border-radius: calc(15px * var(--scale));
  font-weight: bold;
}

.players-list li span.player-icon {
  position: relative;
  display: inline-block;
  width: calc(var(--piece-width) * 0.8);
  height: calc(var(--piece-height) * 0.8);
}

.players-list li span.player-name {
  position: relative;
  top: calc(-25px * var(--scale));
  left: 5px;
  margin-right: calc(50px * var(--scale));
}
